*{
    margin: 0;
    padding: 0;
}
   body{
    background-size: 100%;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
   }


   header{
        width: 100%;
        height: 100px;
        background-color:#5DADE2;
      }
 
   .logo-alura{
        width: 10%;
        height: 60px;
        display: inline-block;
        vertical-align:auto;
        margin-right: 40px;
    }

  h2{
    display: inline-block;
    padding-top: 30px;
    text-align: center;
    font-size: 50px;
    margin: 0 0 1em;
    font-family: "Abril Fatface", serif;
    font-weight: bold;
    font-style: normal;
    color: #2C3E50;
    vertical-align: center;   
   } 


main{
    width: 100%;
    height: 100vh;  
    display: inline-block;
    background: linear-gradient(#D6EAF8,#5DADE2);
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.seccion1{
    width: 60%;
    height: 80%;
    display:inline-block;
    margin: 0 20px 0 0;
    }
.ingresoTexto{
    width: 70%;
    height: 70%;
    display: block;
    margin: auto;
    margin-top: 40px;
    resize: none;
    padding: 3%;
    border:none;
    border-radius: 20px;
    background: rgb(214, 234, 248);
    font-size: 30px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: bold;
    color:rgb(0, 7, 21);
    font-style: italic;
    box-shadow: inset 0 0 30px rgb(52, 51, 51);
    }
        

    p{
        font-weight: bold;
        display:block;
        margin-left: 50px;
        font-size: 20px;
        color: rgb(135, 58, 28);
        padding-top: 30px;
       }
    

    ::placeholder,h3 {
        text-align: center;
        padding: 30px;
        font-weight:bold;
        font-size:20px;
        vertical-align: middle;
        }
        .ingresoTexto:focus{
            outline: none;
        }
        
       .contenido {
        display:inline-flex;
        justify-content: center;
       }
    
.botonEncriptar,.botonDesencriptar{
    width: auto;
    height: auto;
    border-radius: 16px;
    background: #1B4F72;
    color: #FFFFFF;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
    margin:20px 20px 20px 10px;
    gap: 2em;
    bottom:auto;
    cursor: pointer;
   }
.botones{
    text-align: center;
    margin-top: 30px;
}
.seccion2{
    width: 30%;
    height: 70%;
    position: absolute;
    background-color: rgb(194, 213, 229);
    display:inline-block;
    margin-left: 30px;
    box-shadow: 0 0 30px rgb(52, 51, 51);
    border:none;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 30px ;
    box-sizing: border-box;
    overflow: hidden;
     }
.imagen{
    width: 100%;
    height: 60%;
    padding-top: 50px;
    box-sizing: border-box;
}
.textoh3{
    width: 100%;
    height: 20%;
    text-align: center;
}
.resultadoTexto{
    width: 100%;
    height: 70%;
    padding: 25px;
    box-sizing: border-box;
}
.texto_resultado{
    font-size: 30px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: bold;
    color:rgb(0, 7, 21);
    font-style: italic;

}
.cajabotonCopiar{
    width: 100%;
    height: 20%;
    justify-content: space-between;
    }
.botonCopiar{
    display: block;   
    margin: auto;   
    width: 28%;
    height: 45px;
    border-radius: 16px;
    background: #092a41;
    color: #FFFFFF;
    padding: 8px;
    font-size: 20px;    
    font-weight: bold;
    bottom:0;
    transition: all .3s ease;
    cursor: pointer;
    margin-top: 35px;
    display: flex;
    justify-content: center;

}

.botonEncriptar:hover, .botonDesencriptar:hover, .botonCopiar:hover{
    border-color:burlywood;
    border-width: 3px;
    background:#0a3871;
}

footer{
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    text-align: center;
    font-family: "Abril Fatface", serif;
    font-size: 15px;
    font-weight:100;
}
.ocultar{
    display:none;
}


/* CSS para responsive*/

@media screen and (max-width: 480px){
    .logo-alura h2{
        width: auto;
        font-size: 20px;
    }
}

@media screen and (min-width: 768px){
    textarea{
        height: 350px;
    }
    .seccion1 .seccion2{
        grid-template-columns: repeat(2, 1fr);
    }
    .botonEncriptar,.botonDesencriptar .botonCopiar{
        width: auto;  
    }
}





